@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/basiercircle-regular.woff2") format("woff2"),
    url("../../fonts/basiercircle-regular.woff") format("woff");
}

@font-face {
  font-family: 'Basier Circle';
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/basiercircle-bold.woff2") format("woff2"),
    url("../../fonts/basiercircle-bold.woff") format("woff");
}

:root {
  font-size: 20px;
  --scale: 1.333;
  --txt-base: 1rem;
  --txt-xxsm: 0.55rem;
  --txt-xsm: 0.75rem;
  --txt-sm: 1.35rem;
  --txt-md: 1.75rem;
  --txt-lg: 2.35rem;
  --txt-xl: 3.15rem;
  --txt-xxl: 4.15rem;
  --txt-super: 5.55rem;
}

html {
  font-family: var(--primary-font);
}

h1 {
  text-align: center;
  font-size: var(--txt-lg);
  line-height: 1;
  color: var(--white);
  font-weight: 700;
}

a {
  text-decoration: underline;
  color: var(--white);
}